<%= form_for(@catigory) do |f| %>
  <% if @catigory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@catigory.errors.count, "error") %> prohibited this catigory from being saved:</h2>

      <ul>
      <% @catigory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_name %><br>
    <%= f.text_field :category_name %>
  </div>
  <div class="field">
    <%= f.label :sub_category_id %><br>
    <%= f.number_field :sub_category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
