<div><%= f.label :name %><br />
<%= f.text_field :name %></div>
<div><%= f.label :phone_number %><br />
<%= f.text_field :phone_number %></div>
<div><%= f.label :zipcode %><br />
<%= f.text_field :zipcode %></div>
<div><%= f.label :street_address %><br />
<%= f.text_field :street_address %></div>
