
<nav class="top-bar">
  <%= link_to "Home",       root_path %>
  | <%= link_to "Contact Us" %>
  <% if current_user %>
    | <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    | <%= link_to 'My Carts', carts_path %>
    | <%= link_to 'Bill', invocies_path%>
  <% else %>
    | <%= link_to('Login', new_user_session_path)  %> |
    | <%= link_to('Sign up' , user_registration_path) %>
  <% end %>
  <section class="top-bar-section">
    <ul class="right">
      <li><%= link_to 'Catigories', catigories_path %></li>
    </ul>
  </div>
</nav>
