
<%   @users = User.all %>
<%   @users.each do |user| %>
  <%=   user.name %><br/>
  <%=   user.email %><br/>
  <%=   user.phone_number %><br/>
  <%=   user.street_address %><br/>
  <%=   user.zipcode %><br/>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.street_address %></td>
        <td><%= user.zipcode %></td>

        <td><%= link_to 'Show', cart %></td>
        <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
        <td><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%   end %>
