<p id="notice"><%= notice %></p>
<%= link_to "Home",       root_path %>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

<h1>Listing Invocies</h1>
<% @cart_id = Cart.find_by(user_id: current_user.id).id %>
<%@items_selected = ItemCart.where(cart_id: @cart_id)%>
<%@total_count = 0%>
<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Count</th>
      <th>Total price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%@items_selected.size.times do |i|%>
    <%@item = Item.find_by(id: @items_selected[i].item_id)%>
      <tr>
        <td><%= @item.item_name %></td>
        <td><%= @count = @items_selected[i].number_count%></td>
        <%@total_count = @total_count + @count%>
        <td><%= @item.item_preice.to_f * @count%></td>

      </tr>
    <% end %>
  </tbody>
</table>

<h3>Number of Items:</h3><%=@total_count %>

<br><%= (link_to 'New Invocy', new_invocy_path ) if current_user.admin? %>
